WeatherApp/WeatherAppWebClient/Service References/WeatherAppServices/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4012/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" />
  <xs:element name="GetWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="GetWeatherResult" nillable="true" type="q1:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherByDateAndCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherByDateAndCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="GetWeatherByDateAndCityResult" nillable="true" type="q2:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="weather" nillable="true" type="q3:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitWeatherResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeathers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeathersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="GetWeathersResult" nillable="true" type="q4:ArrayOfWeather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="DeleteWeatherResult" nillable="true" type="q5:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmDeleteWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmDeleteWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="confirmDeleteWeatherResult" nillable="true" type="q6:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRecordInDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" minOccurs="0" name="weather" nillable="true" type="q7:Weather" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRecordInDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>