WeatherApp/WeatherAppWebClient/Service References/WeatherAppServices/WeatherAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4012/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4012/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4012/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherApp.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherAppService_GetWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_GetWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_GetWeatherByDateAndCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherByDateAndCity" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_GetWeatherByDateAndCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherByDateAndCityResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_SubmitWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_SubmitWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_GetWeathers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeathers" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_GetWeathers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeathersResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_DeleteWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_DeleteWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_confirmDeleteWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:confirmDeleteWeather" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_confirmDeleteWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:confirmDeleteWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_EditRecordInDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRecordInDatabase" />
  </wsdl:message>
  <wsdl:message name="IWeatherAppService_EditRecordInDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRecordInDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherAppService">
    <wsdl:operation name="GetWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/GetWeather" message="tns:IWeatherAppService_GetWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/GetWeatherResponse" message="tns:IWeatherAppService_GetWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherByDateAndCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/GetWeatherByDateAndCity" message="tns:IWeatherAppService_GetWeatherByDateAndCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/GetWeatherByDateAndCityResponse" message="tns:IWeatherAppService_GetWeatherByDateAndCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/SubmitWeather" message="tns:IWeatherAppService_SubmitWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/SubmitWeatherResponse" message="tns:IWeatherAppService_SubmitWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeathers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/GetWeathers" message="tns:IWeatherAppService_GetWeathers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/GetWeathersResponse" message="tns:IWeatherAppService_GetWeathers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/DeleteWeather" message="tns:IWeatherAppService_DeleteWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/DeleteWeatherResponse" message="tns:IWeatherAppService_DeleteWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="confirmDeleteWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/confirmDeleteWeather" message="tns:IWeatherAppService_confirmDeleteWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/confirmDeleteWeatherResponse" message="tns:IWeatherAppService_confirmDeleteWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRecordInDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherAppService/EditRecordInDatabase" message="tns:IWeatherAppService_EditRecordInDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherAppService/EditRecordInDatabaseResponse" message="tns:IWeatherAppService_EditRecordInDatabase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherAppService" type="tns:IWeatherAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/GetWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherByDateAndCity">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/GetWeatherByDateAndCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitWeather">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/SubmitWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeathers">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/GetWeathers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWeather">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/DeleteWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmDeleteWeather">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/confirmDeleteWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRecordInDatabase">
      <soap:operation soapAction="http://tempuri.org/IWeatherAppService/EditRecordInDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherAppService">
    <wsdl:port name="BasicHttpBinding_IWeatherAppService" binding="tns:BasicHttpBinding_IWeatherAppService">
      <soap:address location="http://localhost:4012/WeatherApp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>